.container {
  min-height: 100vh;
  //padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  background-color: rgb(24, 24, 27);
}

%header-element {
  margin: 10px;
  height: 30px;
}

%primary-font {
  font-family: Inter, Roobert, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.header-text-field {
  @extend %header-element;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #6e6e6e;
  border-radius: 6px;
  width: 400px;
  color: rgb(239, 239, 241);
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
}

%twitch-styled-button {
  background-color: rgb(145, 71, 255);
  color: white;
  border: 0px;
  border-radius: 6px;


  &:hover {
    background-color: rgb(119, 44, 232);
    color: white;
  }
}

.header-button {
  @extend %header-element;
  @extend %primary-font;
  @extend %twitch-styled-button;
    padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 3rem;
}

$height: 150px;

.video-box {
  //padding: 5rem 0;
  // flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  max-width: 70%;
  flex-wrap: wrap;
  
  &:after {
    display: block;
    content: "";
    margin: 10px;
    flex: 999 999 auto;
  }

  &-item {
    flex: 0 0 auto;
    height: 150px;
    width: $height * 1.8;
    max-width: 300px;
    margin: 15px;
  }
}

.pagination {
  display: flex;
  flex-direction: row;

}

.button-pagination {
  @extend %twitch-styled-button;
  width: 36px;
  height: 36px;
  margin: 10px;
  text-align: center;
  background-color: #0E0E10;

  &:hover {
    background-color: rgb(62,62,64);
  }
}

.button-favorite {
  border: 1px solid green
}

// .video-box-row {
//   display: flex;
//   flex-direction: row;
// }



// .video-box-item{
  
// }

// .video-box-item-empty {
//   @extend .video-box-item;
//   background-color: #0070f3;
//   border: 2px solid red;
  
//   width: 200px - 4;
//   height: 100px - 4;
// }

.video-box-item a img:hover,
.video-box-item a img:focus,
.video-box-item a img:active {
  background: rgba(0,0,0,.5);
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 800px;
  margin-top: 3rem;
}