

.container {
  min-height: 100vh;
  //padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  //flex-wrap: nowrap;
  //max-width: 800px;
  width: 100%;
  background-color: rgb(24, 24, 27);
  border: 1px solid #6e6e6e;
  border-radius: 5px;
}

%header-element {
  margin: 10px;
  height: 25px;
}

%primary-font {
  font-family: Inter, Roobert, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 15px;
}


.header-text-field-label {
  @extend %header-element;
  @extend %primary-font;
  color: #6e6e6e;
  line-height: 25px;
}

.header-text-field {
  @extend %header-element;
  background-color: white;
  border: 1px solid #6e6e6e;
  border-radius: 4px;
  width: 300px;
  height: 27px;
}

.header-button {
  @extend %header-element;
  @extend %primary-font;
  background-color: rgb(145, 71, 255);
  color: white;
  border: 0px;
  border-radius: 4px;
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  &:hover {
    background-color: rgb(119, 44, 232);
    color: white;
    
  }
}





.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 3rem;
}

$height: 150px;

%video-item {
  //height: $height;
  height: 150px;
  width: $height * 1.8;
  max-width: 300px;
  margin: 15px;
}

.video-box {
  //padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  flex-wrap: wrap;
  &-item {
    @extend %video-item;
    &-empty {
      @extend %video-item;
        background-color: #0070f3;
        border: 2px solid red;
        
      
    }
  }
}

.pagination {
  border: 2px solid gray;
  display: flex;
  flex-direction: row;
}

.button-pagination {
  border: 1px solid blue;
  width: 50px;
}

.button-favorite {
  border: 1px solid green
}

// .video-box-row {
//   display: flex;
//   flex-direction: row;
// }



// .video-box-item{
  
// }

// .video-box-item-empty {
//   @extend .video-box-item;
//   background-color: #0070f3;
//   border: 2px solid red;
  
//   width: 200px - 4;
//   height: 100px - 4;
// }

.video-box-item a img:hover,
.video-box-item a img:focus,
.video-box-item a img:active {
  background: rgba(0,0,0,.5);
}

/*
.title a {
  color: #0070f3;
   text-decoration: none; 
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
*/

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}





